.lui-check {
  position: relative;
  user-select: none;
}

.lui-check > header {
  border: 1px solid #CCCCCC;
  padding: 0.5rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
}

.lui-check > header > div {
  flex: 1;
  overflow: auto;
}

.lui-check > header > aside {
  padding-left: 1rem;
}

.lui-check > header > aside:before {
  content: "\22EF";
}

.lui-check > div {
  display: flex;
  visibility: hidden;
}

.lui-check > div > input {
  flex: 1;
  padding: 0.5rem;
}

.lui-check > ul, .lui-check > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lui-check > ul {
  position: absolute;
  width: 100%;
  background-color: #EEEEEE;
  max-height: 9rem;
  overflow: auto;
  visibility: hidden;
}

.lui-check > ul > li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
}

.lui-check > ul > li:hover {
  background-color: #E0E0E0;
}

.lui-check > ul > li:before {
  content: "\2610";
}

.lui-check > ul > li.checked:before {
  content: "\2611";
}

.lui-check > ul > li.hide {
  display: none;
}

.lui-check:hover > div, .lui-check:hover > ul {
  visibility: visible;
}
